body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ff9a47;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.menu {
    margin: 20px;
    color: black;
}
.menu h2 {
    text-align: center;
    color: red;
}
.menu-item {
    display:flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.marquee {
    margin: 20px;
}
marquee {
    font-size: 16px;
    color: #ff6347;
    scroll-behavior: smooth;
    animation: infinite;
}
